<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test parallel="classes" thread-count="2" name="Test">
		<groups>
			<run>
				<exclude name="group2"></exclude>
				<exclude name="group1"></exclude>
			</run>
		</groups>
		<classes>
			<class name="testcase.ParallelExecution" />
			<class name="testcase.DropdownNotUnderSelectTag" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
